nav-bar {
    header {
        .navbar {
            border-width: 0 0 1px 0;

            .navbar-brand {
                img {
                    max-width: 320px;
                    width: 100%;
                }
            }
        }
    }
}